<h1>Data Importing </h1>

In [17]:
import pandas as pd
import numpy as np

<h2>1)Context Manager</h2>
<p>Which is responsible for opening, reading and then closing file</p>

In [18]:
brics="E:/CAREER_DATA/data_files/brics.txt"
with open(brics,'r') as file:
    brics_df=file.read()
print(brics_df)

,country,capital,area,population
BR,Brazil,Brasilia,8.516,200.4
RU,Russia,Moscow,17.10,143.5
IN,India,New Delhi,3.286,1252
CH,China,Beijing,9.597,1357
SA,South Africa,Pretoria,1.221,52.98

<h2>2)TXT File import with NUMPY</h2>

In [19]:
minist_np_file=np.loadtxt('E:/CAREER_DATA/data_files/MINIST.txt', delimiter=",",dtype=int)
print(minist_np_file)
#other arguments:
#skiprows=1 To skip header row, if header row is a string
#usecols=[0,2,8]  To get 0th, 3rd and 9th columns printed
#dtype=str To verify the data type we import must be str

[[1 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 ...
 [2 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [5 0 0 ... 0 0 0]]

<h2>3)CSV Files or FLAT FILES</h2>
<p>Known as flat files in which data arrange in tabular form</p>

<h3>CSV FILE</h3>

In [20]:
actors_1=pd.read_csv("E:/CAREER_DATA/data_files/actors_movies.csv")
#same file with arguments
actors_2=pd.read_csv("E:/CAREER_DATA/data_files/actors_movies.csv",nrows=1)
actors_3=pd.read_csv("E:/CAREER_DATA/data_files/actors_movies.csv",header=None)
actors_4=pd.read_csv("E:/CAREER_DATA/data_files/actors_movies.csv",index_col=0)
print(actors_1)
print("________________________________________________________________________________")
print(actors_2)
print("________________________________________________________________________________")
print(actors_3)
print("________________________________________________________________________________")
print(actors_4)
print("________________________________________________________________________________")

                                                Actor  \
0   [Emil Eifrem,Hugo Weaving,Laurence Fishburne,C...
1   [Hugo Weaving,Laurence Fishburne,Carrie-Anne M...
2   [Hugo Weaving,Laurence Fishburne,Carrie-Anne M...
3            [Al Pacino,Charlize Theron,Keanu Reeves]
4   [James Marshall,Kevin Pollak,J.T. Walsh,Aaron ...
5   [Val Kilmer,Meg Ryan,Tom Skerritt,Kelly McGill...
6   [Jerry O'Connell,Bonnie Hunt,Jay Mohr,Cuba Goo...
7   [Jerry O'Connell,River Phoenix,Marshall Bell,W...
8   [Helen Hunt,Jack Nicholson,Cuba Gooding Jr.,Gr...
9   [Robin Williams,Cuba Gooding Jr.,Max von Sydow...
10  [Ethan Hawke,Rick Yune,Max von Sydow,James Cro...
11  [Tom Hanks,Parker Posey,Greg Kinnear,Meg Ryan,...
12  [Meg Ryan,Victor Garber,Tom Hanks,Bill Pullman...
13                   [Tom Hanks,Nathan Lane,Meg Ryan]
14              [Tom Hanks,Liv Tyler,Charlize Theron]
15  [Brooke Langton,Keanu Reeves,Orlando Jones,Gen...
16  [Zach Grenier,Steve Zahn,Christian Bale,Marsha...
17          [Robin Williams,Nathan Lane,Gene Hackman]
18       [Clint Eastwood,Gene Hackman,Richard Harris]
19     [Ice-T,Dina Meyer,Keanu Reeves,Takeshi Kitano]
20  [Tom Hanks,Jim Broadbent,Halle Berry,Hugo Weav...
21  [Tom Hanks,Ian McKellen,Audrey Tautou,Paul Bet...
22  [John Hurt,Stephen Rea,Natalie Portman,Hugo We...
23  [Emile Hirsch,Rain,Christina Ricci,Ben Miles,S...
24           [Rain,Ben Miles,Rick Yune,Naomie Harris]
25  [Sam Rockwell,Bonnie Hunt,Patricia Clarkson,Ja...
26  [John C. Reilly,Danny DeVito,J.T. Walsh,Jack N...
27  [Tom Hanks,Ed Harris,Gary Sinise,Kevin Bacon,B...
28                             [Helen Hunt,Tom Hanks]
29                      [Danny DeVito,Jack Nicholson]
30         [Keanu Reeves,Diane Keaton,Jack Nicholson]
31                      [Robin Williams,Oliver Platt]
32   [Julia Roberts,Tom Hanks,Philip Seymour Hoffman]
33                                        [Tom Hanks]
34  [Tom Hanks,Madonna,Rosie O'Donnell,Geena Davis...

                              Title
0                        The Matrix
1               The Matrix Reloaded
2            The Matrix Revolutions
3              The Devil's Advocate
4                    A Few Good Men
5                           Top Gun
6                     Jerry Maguire
7                       Stand By Me
8                As Good as It Gets
9              What Dreams May Come
10           Snow Falling on Cedars
11                  You've Got Mail
12             Sleepless in Seattle
13           Joe Versus the Volcano
14                That Thing You Do
15                 The Replacements
16                       RescueDawn
17                     The Birdcage
18                       Unforgiven
19                  Johnny Mnemonic
20                      Cloud Atlas
21                The Da Vinci Code
22                   V for Vendetta
23                      Speed Racer
24                   Ninja Assassin
25                   The Green Mile
26                            Hoffa
27                        Apollo 13
28                        Cast Away
29  One Flew Over the Cuckoo's Nest
30           Something's Gotta Give
31                 Bicentennial Man
32             Charlie Wilson's War
33                The Polar Express
34            A League of Their Own
________________________________________________________________________________
                                               Actor       Title
0  [Emil Eifrem,Hugo Weaving,Laurence Fishburne,C...  The Matrix
________________________________________________________________________________
                                                    0  \
0                                               Actor
1   [Emil Eifrem,Hugo Weaving,Laurence Fishburne,C...
2   [Hugo Weaving,Laurence Fishburne,Carrie-Anne M...
3   [Hugo Weaving,Laurence Fishburne,Carrie-Anne M...
4            [Al Pacino,Charlize Theron,Keanu Reeves]
5   [James Marshall,Kevin Pollak,J.T. Walsh,Aaron ...
6   [Val Kilmer,Meg Ryan,Tom Skerritt,Kelly McGill...
7   [Jerry O'Connell,Bonnie Hunt,Jay Mohr,Cuba Goo...
8   [Jerry O'Connell,River Phoenix,Marshall Bell,W...
9   [Helen Hunt,Jack Nicholson,Cuba Gooding Jr.,Gr...
10  [Robin Williams,Cuba Gooding Jr.,Max von Sydow...
11  [Ethan Hawke,Rick Yune,Max von Sydow,James Cro...
12  [Tom Hanks,Parker Posey,Greg Kinnear,Meg Ryan,...
13  [Meg Ryan,Victor Garber,Tom Hanks,Bill Pullman...
14                   [Tom Hanks,Nathan Lane,Meg Ryan]
15              [Tom Hanks,Liv Tyler,Charlize Theron]
16  [Brooke Langton,Keanu Reeves,Orlando Jones,Gen...
17  [Zach Grenier,Steve Zahn,Christian Bale,Marsha...
18          [Robin Williams,Nathan Lane,Gene Hackman]
19       [Clint Eastwood,Gene Hackman,Richard Harris]
20     [Ice-T,Dina Meyer,Keanu Reeves,Takeshi Kitano]
21  [Tom Hanks,Jim Broadbent,Halle Berry,Hugo Weav...
22  [Tom Hanks,Ian McKellen,Audrey Tautou,Paul Bet...
23  [John Hurt,Stephen Rea,Natalie Portman,Hugo We...
24  [Emile Hirsch,Rain,Christina Ricci,Ben Miles,S...
25           [Rain,Ben Miles,Rick Yune,Naomie Harris]
26  [Sam Rockwell,Bonnie Hunt,Patricia Clarkson,Ja...
27  [John C. Reilly,Danny DeVito,J.T. Walsh,Jack N...
28  [Tom Hanks,Ed Harris,Gary Sinise,Kevin Bacon,B...
29                             [Helen Hunt,Tom Hanks]
30                      [Danny DeVito,Jack Nicholson]
31         [Keanu Reeves,Diane Keaton,Jack Nicholson]
32                      [Robin Williams,Oliver Platt]
33   [Julia Roberts,Tom Hanks,Philip Seymour Hoffman]
34                                        [Tom Hanks]
35  [Tom Hanks,Madonna,Rosie O'Donnell,Geena Davis...

                                  1
0                             Title
1                        The Matrix
2               The Matrix Reloaded
3            The Matrix Revolutions
4              The Devil's Advocate
5                    A Few Good Men
6                           Top Gun
7                     Jerry Maguire
8                       Stand By Me
9                As Good as It Gets
10             What Dreams May Come
11           Snow Falling on Cedars
12                  You've Got Mail
13             Sleepless in Seattle
14           Joe Versus the Volcano
15                That Thing You Do
16                 The Replacements
17                       RescueDawn
18                     The Birdcage
19                       Unforgiven
20                  Johnny Mnemonic
21                      Cloud Atlas
22                The Da Vinci Code
23                   V for Vendetta
24                      Speed Racer
25                   Ninja Assassin
26                   The Green Mile
27                            Hoffa
28                        Apollo 13
29                        Cast Away
30  One Flew Over the Cuckoo's Nest
31           Something's Gotta Give
32                 Bicentennial Man
33             Charlie Wilson's War
34                The Polar Express
35            A League of Their Own
________________________________________________________________________________
                                                                              Title
Actor
[Emil Eifrem,Hugo Weaving,Laurence Fishburne,Ca...                       The Matrix
[Hugo Weaving,Laurence Fishburne,Carrie-Anne Mo...              The Matrix Reloaded
[Hugo Weaving,Laurence Fishburne,Carrie-Anne Mo...           The Matrix Revolutions
[Al Pacino,Charlize Theron,Keanu Reeves]                       The Devil's Advocate
[James Marshall,Kevin Pollak,J.T. Walsh,Aaron S...                   A Few Good Men
[Val Kilmer,Meg Ryan,Tom Skerritt,Kelly McGilli...                          Top Gun
[Jerry O'Connell,Bonnie Hunt,Jay Mohr,Cuba Good...                    Jerry Maguire
[Jerry O'Connell,River Phoenix,Marshall Bell,Wi...                      Stand By Me
[Helen Hunt,Jack Nicholson,Cuba Gooding Jr.,Gre...               As Good as It Gets
[Robin Williams,Cuba Gooding Jr.,Max von Sydow,...             What Dreams May Come
[Ethan Hawke,Rick Yune,Max von Sydow,James Crom...           Snow Falling on Cedars
[Tom Hanks,Parker Posey,Greg Kinnear,Meg Ryan,S...                  You've Got Mail
[Meg Ryan,Victor Garber,Tom Hanks,Bill Pullman,...             Sleepless in Seattle
[Tom Hanks,Nathan Lane,Meg Ryan]                             Joe Versus the Volcano
[Tom Hanks,Liv Tyler,Charlize Theron]                             That Thing You Do
[Brooke Langton,Keanu Reeves,Orlando Jones,Gene...                 The Replacements
[Zach Grenier,Steve Zahn,Christian Bale,Marshal...                       RescueDawn
[Robin Williams,Nathan Lane,Gene Hackman]                              The Birdcage
[Clint Eastwood,Gene Hackman,Richard Harris]                             Unforgiven
[Ice-T,Dina Meyer,Keanu Reeves,Takeshi Kitano]                      Johnny Mnemonic
[Tom Hanks,Jim Broadbent,Halle Berry,Hugo Weaving]                      Cloud Atlas
[Tom Hanks,Ian McKellen,Audrey Tautou,Paul Bett...                The Da Vinci Code
[John Hurt,Stephen Rea,Natalie Portman,Hugo Wea...                   V for Vendetta
[Emile Hirsch,Rain,Christina Ricci,Ben Miles,Su...                      Speed Racer
[Rain,Ben Miles,Rick Yune,Naomie Harris]                             Ninja Assassin
[Sam Rockwell,Bonnie Hunt,Patricia Clarkson,Jam...                   The Green Mile
[John C. Reilly,Danny DeVito,J.T. Walsh,Jack Ni...                            Hoffa
[Tom Hanks,Ed Harris,Gary Sinise,Kevin Bacon,Bi...                        Apollo 13
[Helen Hunt,Tom Hanks]                                                    Cast Away
[Danny DeVito,Jack Nicholson]                       One Flew Over the Cuckoo's Nest
[Keanu Reeves,Diane Keaton,Jack Nicholson]                   Something's Gotta Give
[Robin Williams,Oliver Platt]                                      Bicentennial Man
[Julia Roberts,Tom Hanks,Philip Seymour Hoffman]               Charlie Wilson's War
[Tom Hanks]                                                       The Polar Express
[Tom Hanks,Madonna,Rosie O'Donnell,Geena Davis,...            A League of Their Own
________________________________________________________________________________

<h3>TXT File as FLAT FILE use only with pandas</h3>

In [21]:
seaslugs_1=pd.read_csv("E:/CAREER_DATA/data_files/seaslugs.txt")
seaslugs_2=pd.read_csv("E:/CAREER_DATA/data_files/seaslugs.txt",sep="\t")
seaslugs_3=pd.read_csv("E:/CAREER_DATA/data_files/seaslugs.txt",comment='#')
seaslugs_4=pd.read_csv("E:/CAREER_DATA/data_files/seaslugs.txt",na_values=['Nothing'])

print(seaslugs_1)
print("..............................................")
print(seaslugs_2)
print("..............................................")
print(seaslugs_3)
print("..............................................")
print(seaslugs_4)
print("..............................................")

   Time\tPercent
0      99\t0.067
1      99\t0.133
2      99\t0.067
3          99\t0
4          99\t0
5         0\t0.5
6       0\t0.467
7       0\t0.857
8         0\t0.5
9       0\t0.357
10      0\t0.533
11      5\t0.467
12      5\t0.467
13      5\t0.125
14        5\t0.4
15      5\t0.214
16        5\t0.4
17     10\t0.067
18     10\t0.067
19     10\t0.333
20     10\t0.333
21     10\t0.133
22     10\t0.133
23     15\t0.267
24     15\t0.286
25     15\t0.333
26     15\t0.214
27         15\t0
28         15\t0
29     20\t0.267
30       20\t0.2
31     20\t0.267
32     20\t0.437
33     20\t0.077
34     20\t0.067
35     25\t0.133
36     25\t0.267
37     25\t0.412
38         25\t0
39     25\t0.067
40     25\t0.133
41         30\t0
42     30\t0.071
43         30\t0
44     30\t0.067
45     30\t0.067
46     30\t0.133
..............................................
    Time  Percent
0     99    0.067
1     99    0.133
2     99    0.067
3     99    0.000
4     99    0.000
5      0    0.500
6      0    0.467
7      0    0.857
8      0    0.500
9      0    0.357
10     0    0.533
11     5    0.467
12     5    0.467
13     5    0.125
14     5    0.400
15     5    0.214
16     5    0.400
17    10    0.067
18    10    0.067
19    10    0.333
20    10    0.333
21    10    0.133
22    10    0.133
23    15    0.267
24    15    0.286
25    15    0.333
26    15    0.214
27    15    0.000
28    15    0.000
29    20    0.267
30    20    0.200
31    20    0.267
32    20    0.437
33    20    0.077
34    20    0.067
35    25    0.133
36    25    0.267
37    25    0.412
38    25    0.000
39    25    0.067
40    25    0.133
41    30    0.000
42    30    0.071
43    30    0.000
44    30    0.067
45    30    0.067
46    30    0.133
..............................................
   Time\tPercent
0      99\t0.067
1      99\t0.133
2      99\t0.067
3          99\t0
4          99\t0
5         0\t0.5
6       0\t0.467
7       0\t0.857
8         0\t0.5
9       0\t0.357
10      0\t0.533
11      5\t0.467
12      5\t0.467
13      5\t0.125
14        5\t0.4
15      5\t0.214
16        5\t0.4
17     10\t0.067
18     10\t0.067
19     10\t0.333
20     10\t0.333
21     10\t0.133
22     10\t0.133
23     15\t0.267
24     15\t0.286
25     15\t0.333
26     15\t0.214
27         15\t0
28         15\t0
29     20\t0.267
30       20\t0.2
31     20\t0.267
32     20\t0.437
33     20\t0.077
34     20\t0.067
35     25\t0.133
36     25\t0.267
37     25\t0.412
38         25\t0
39     25\t0.067
40     25\t0.133
41         30\t0
42     30\t0.071
43         30\t0
44     30\t0.067
45     30\t0.067
46     30\t0.133
..............................................
   Time\tPercent
0      99\t0.067
1      99\t0.133
2      99\t0.067
3          99\t0
4          99\t0
5         0\t0.5
6       0\t0.467
7       0\t0.857
8         0\t0.5
9       0\t0.357
10      0\t0.533
11      5\t0.467
12      5\t0.467
13      5\t0.125
14        5\t0.4
15      5\t0.214
16        5\t0.4
17     10\t0.067
18     10\t0.067
19     10\t0.333
20     10\t0.333
21     10\t0.133
22     10\t0.133
23     15\t0.267
24     15\t0.286
25     15\t0.333
26     15\t0.214
27         15\t0
28         15\t0
29     20\t0.267
30       20\t0.2
31     20\t0.267
32     20\t0.437
33     20\t0.077
34     20\t0.067
35     25\t0.133
36     25\t0.267
37     25\t0.412
38         25\t0
39     25\t0.067
40     25\t0.133
41         30\t0
42     30\t0.071
43         30\t0
44     30\t0.067
45     30\t0.067
46     30\t0.133
..............................................

<h2>4)Pickle Files</h2>
<p>To handle any kind of data, that basically convert data into byte and bytestream</p>

In [26]:
import pickle
landuse_df="E:/CAREER_DATA/data_files/land_use.p"
with open(landuse_df,"rb") as file:
    landuse_df=pickle.load(file)
print(type(landuse_df))
landuse_df

<class 'pandas.core.frame.DataFrame'>

   ward  residential  commercial  industrial  vacant  other
0     1           41           9           2       2     46
1     2           31          11           6       2     50
2     3           20           5           3      13     59
3     4           22          13           0       7     58
4     5           25           3           1       3     68
5     6           44           4           1       8     43
6     7           39           3           0      19     39
7     8           38           5           9       5     43
8     9           27           2          10       6     55
9    10           10           1           8      14     67
10   11           21           6          22       5     46
11   12           22           7          18       4     49
12   13           49           3           2       1     45
13   14           29           4          18       3     46
14   15           41           4           3       6     46
15   16           37           5           2      13     43
16   17           38           4           2       5     51
17   18           38           6           7       3     46
18   19           50           3           0       0     47
19   20           23           2           3      15     57
20   21           43           5           3       5     44
21   22           28           3          19       7     43
22   23           38           4           7       1     50
23   24           24           3           8      13     52
24   25           16           6          17       5     56
25   26           36           5           4       2     53
26   27           16           9          15       7     53
27   28           21           5          10      11     53
28   29           39           6          12       2     41
29   30           50           6           2       1     41
30   31           46           8           8       0     38
31   32           40           9           4       1     46
32   33           42           5           4       1     48
33   34           44           4           2       7     43
34   35           48           6           5       1     40
35   36           47           9           4       1     39
36   37           38           7          12       6     37
37   38           37           2           1       0     60
38   39           37           4           3       1     55
39   40           37           5           2       0     56
40   41           18           2           1       0     79
41   42           10          25           0       1     64
42   43           34           9           0       1     56
43   44           41           6           0       0     53
44   45           49           5           3       0     43
45   46           26           4           0       1     69
46   47           42           6           5       0     47
47   48           40           7           0       1     52
48   49           46           5           1       0     48
49   50           49           7           2       1     41

<h2>5)Excel File</h2>

In [35]:
summer_intake_file=pd.ExcelFile(r"C:\Users\HR Computers\Desktop\words files\SUMMER_INTAKE.xlsx")
#importing sheet name
print(f"Sheet names:\n {summer_intake_file.sheet_names}")
print(".........................................................................")
#convert sheet_name to str data type
summer_intake_df=summer_intake_file.parse("summer_intake")
print(f"Summer Intake Sheet:\n{summer_intake_df}")
print(".............................................................................")
#convert sheet_name to indexing
application_process_df=summer_intake_file.parse(-1)
print(f"APPLICATION PROCESS DATAFRAME: \n{application_process_df}")

Sheet names:
 ['summer_intake', 'private uni', 'eligible_sum_courses', 'APPLICATION_PROCESS']
.........................................................................
Summer Intake Sheet:
                                                 NAME  \
0                                                 NaN
1                            University of Hildesheim
2                               FAU Erlangen-Nürnberg
3                              Universität Regensburg
4                          Bauhaus-Universität Weimar
5                               University of Rostock
6                               University of Rostock
7                                                 NaN
8                               University of Münster
9                  Chemnitz University of Technology
10                                                NaN
11                                                NaN
12                     Technische Universität Ilmenau
13                                                NaN
14                        Technical University Munich
15                                                NaN
16                                                NaN
17  Hochschule Emden/Leer - University of Applied ...
18                                  Trier University
19                                                NaN
20           Frankfurt University of Applied Sciences
21                                                NaN
22                                                NaN
23  Ostbayerische Technische Hochschule Amberg-Wei...
24                                                NaN
25                              University of Cologne
26             Anhalt University of Applied Sciences
27    South Westphalia University of Applied Sciences
28                                                NaN
29         Bremerhaven University of Applied Sciences
30                                                NaN
31               Fulda University of Applied Sciences
32                                                NaN
33                                University of Lubck
34                            University of Göttingen
35                                                NaN
36  Ostbayerische Technische Hochschule Amberg-Wei...
37                                                NaN
38                                    Kiel University
39    South Westphalia University of Applied Sciences
40                     Technische Universität Dresden
41                               University of Bremen
42                Technische Universität Braunschweig
43             Kempten University of Applied Sciences
44                              University of Kassel
45                Hof University of Applied Sciences
46                       Leibniz Universität Hannover
47  Westsächsische Hochschule Zwickau - University...
48  Ostbayerische Technische Hochschule Amberg-Wei...
49        Bremerhaven University of Applied Sciences
50                                                NaN

                                              PROGRAM  \
0                                                 NaN
1                                Data Analytics (MSc)
2   Medical Engineering – Branches of Study: Medic...
3                               Computational Science
4                  Computer Science for Digital Media
5                Computer Science International (CSI)
6         Computational Science and Engineering (CSE)
7                                                 NaN
8            Master of Science in Information Systems
9                     Automotive Software Engineering
10                                                NaN
11                                                NaN
12        Research in Media Engineering MSc Programme
13                                                NaN
14          Master's in Management & Technology (MSc)
15                                                NaN
16                                                NaN
17  Master's in Industrial Informatics – Specialis...
18   Master of Science in Natural Language Processing
19                                                NaN
20                       High Integrity Systems (HIS)
21                                                NaN
22                                                NaN
23  International Energy Engineering (MEng), full-...
24                                                NaN
25  Bonn-Cologne Graduate School of Physics and As...
26        Electrical and Computer Engineering (M Eng)
27   MSc Systems Engineering & Engineering Management
28                                                NaN
29                            Embedded Systems Design
30                                                NaN
31                                       Data Science
32                                                NaN
33                                        IT SECURITY
34                         Applied Data Science (MSc)
35                                                NaN
36  Artificial Intelligence for Industrial Applica...
37                                                NaN
38  \nMaster of Science in Electrical and Informat...
39   MSc Systems Engineering & Engineering Management
40                             Nanoelectronic Systems
41  Communication & Information Technology, MSc (CIT)
42  Quantum Technologies in Electrical and Compute...
43                             Electrical Engineering
44         Electrical Communication Engineering (MSc)
45       Sustainable Water Management and Engineering
46  Environmental Engineering – Specialisation Res...
47  Advanced Green Engineering and Sustainable Man...
48  International Energy Engineering (MEng), full-...
49                            Embedded Systems Design
50                                                NaN

                                                FIELD  \
0                                                 NaN
1                                 Data Analytics & ML
2                                           Ent. & DA
3                              Bioinfomitics and Data
4                                    Computer Science
5                                 Software IT SYSTEMS
6                Computational Electrical Engineering
7                                                 NaN
8                                 Backend development
9                        Embedded System and SOFTWARE
10                                                NaN
11                                                NaN
12                        SOUND AND MEDIA ENGINEERING
13                                                NaN
14                                            München
15                                                NaN
16                                                NaN
17                              Cyber Security and IT
18                              NLP(MACHINE LEARNING)
19                                                NaN
20                            MACHINE LEARNING AND IT
21                                                NaN
22                                                NaN
23                                 Energy Engineering
24                                                NaN
25                                            Physics
26                                  Pure Electronics
27   Hardcore Electronuics(rel to control automation)
28                                                NaN
29                                   Embedded Systems
30                                                NaN
31                                       Data Science
32                                                NaN
33                                                IT
34                                       Data Science
35                                                NaN
36                                             Amberg
37                                                NaN
38                                   COMMUNICATION IT
39                                 Electronic Systems
40                                 Electronic Systems
41                    IT AND ELECTRICAL COMMUNICATION
42              CS AND QUANTUM COMPUTER-MORE EMBEDDED
43                       COMMUNICATION AND ELECTRICAL
44                      COMMUNICATION AND ELECTRINICS
45                                   Water Management
46  Environemnatal Engineering (not related to ele...
47                                         Enviorment
48                                 Energy Engineering
49                                   Embedded systems
50                                                NaN

                                                 LINK               CITY  \
0   https://www2.daad.de/deutschland/studienangebo...                NaN
1   https://www2.daad.de/deutschland/studienangebo...         Hildesheim
2   https://www2.daad.de/deutschland/studienangebo...           Erlangen
3   https://www2.daad.de/deutschland/studienangebo...         Regensburg
4   https://www2.daad.de/deutschland/studienangebo...             Weimar
5   https://www2.daad.de/deutschland/studienangebo...            Rostock
6   https://www2.daad.de/deutschland/studienangebo...            Rostock
7   https://www2.daad.de/deutschland/studienangebo...                NaN
8   https://www2.daad.de/deutschland/studienangebo...            Münster
9   https://www2.daad.de/deutschland/studienangebo...           Chemnitz
10  https://www2.daad.de/deutschland/studienangebo...                NaN
11  https://www2.daad.de/deutschland/studienangebo...                NaN
12  https://www2.daad.de/deutschland/studienangebo...            Ilmenau
13  https://www2.daad.de/deutschland/studienangebo...                NaN
14  https://www2.daad.de/deutschland/studienangebo...            München
15  https://www2.daad.de/deutschland/studienangebo...                NaN
16  https://www2.daad.de/deutschland/studienangebo...                NaN
17  https://www2.daad.de/deutschland/studienangebo...              Emden
18  https://www2.daad.de/deutschland/studienangebo...              Trier
19  https://www2.daad.de/deutschland/studienangebo...                NaN
20  https://www2.daad.de/deutschland/studienangebo...  Frankfurt am Main
21  https://www2.daad.de/deutschland/studienangebo...                NaN
22  https://www2.daad.de/deutschland/studienangebo...                NaN
23  https://www2.daad.de/deutschland/studienangebo...             Amberg
24  https://www2.daad.de/deutschland/studienangebo...                NaN
25  https://www2.daad.de/deutschland/studienangebo...               Köln
26  https://www2.daad.de/deutschland/studienangebo...    Köthen / Anhalt
27  https://www2.daad.de/deutschland/studienangebo...              Soest
28  https://www2.daad.de/deutschland/studienangebo...                NaN
29  https://www2.daad.de/deutschland/studienangebo...        Bremerhaven
30  https://www2.daad.de/deutschland/studienangebo...                NaN
31  https://www2.daad.de/deutschland/studienangebo...              Fulda
32  https://www2.daad.de/deutschland/studienangebo...                NaN
33  https://www.uni-luebeck.de/studium/studiengaen...             Lubeck
34  https://www2.daad.de/deutschland/studienangebo...          Göttingen
35  https://www2.daad.de/deutschland/studienangebo...                NaN
36  https://www2.daad.de/deutschland/studienangebo...             Amberg
37  https://www2.daad.de/deutschland/studienangebo...                NaN
38  https://www2.daad.de/deutschland/studienangebo...               Kiel
39  https://www2.daad.de/deutschland/studienangebo...              Soest
40  https://www2.daad.de/deutschland/studienangebo...            Dresden
41  https://www2.daad.de/deutschland/studienangebo...             Bremen
42  https://www2.daad.de/deutschland/studienangebo...       Braunschweig
43  https://www2.daad.de/deutschland/studienangebo...   Kempten (Allgäu)
44  https://www2.daad.de/deutschland/studienangebo...             Kassel
45  https://www2.daad.de/deutschland/studienangebo...                Hof
46  https://www2.daad.de/deutschland/studienangebo...           Hannover
47  https://www2.daad.de/deutschland/studienangebo...            Zwickau
48  https://www2.daad.de/deutschland/studienangebo...           Amberg\n
49  https://www2.daad.de/deutschland/studienangebo...        Bremerhaven
50  https://www2.daad.de/deutschland/studienangebo...                NaN

                                               STATUS  \
0                                  cgpa: disqualified
1   NOT APPLIED TO SUMMER, BUT WINTER SEM KA REPLY...
2   DO SELF ASSESMENT TEST (IN 2 DAYS), HAVE KNOWL...
3                              Physically submit docs
4   Bacherlor's thesis req, ask maheen baji, muqee...
5                                        Degree issue
6                                  CGPA: REQUIRED 3.5
7                                        CGPA 2.5 req
8                                          ECTS ISSUE
9                   LANGUAGE REQ AND DEGREE RELEVENCY
10                                           GRE TEST
11                                           GRE TEST
12                                              Go To
13                                         CGPA issue
14                                  ECTS AND GMAT REQ
15                                       Degree issue
16                                    course overview
17             DEGREE EQUIVALENCY, PROGRAM IS RELATED
18                                               cgpa
19                                         CGPA HADDA
20                         2 YEARS WORKING EXPERIENCE
21                                  ANIMATION RELATED
22                                         enviroment
23                                 Energy engineering
24                         biomedical and engineering
25                            DISCUSS WHETHER TO TAKE
26                                  eligible to apply
27                                  eligible to apply
28                                           eligible
29                                       A1  REQUIRED
30                                                NaN
31                                                NaN
32                                                NaN
33                                           Eligible
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                           cs/ds programs available
39                                                NaN
40                                           eligible
41                                           eligible
42                                                NaN
43                                                NaN
44                                                NaN
45                                                NaN
46                                                NaN
47                             iot switching possible
48                                                NaN
49                                                NaN
50                                                NaN

                        DEADLINE  RANKING  \
0                            NaN      NaN
1                     15.12.2023      NaN
2                     15.01.2024      NaN
3                     15.01.2024      NaN
4                     15.01.2024      NaN
5                       30.11.23      NaN
6                       15.01.23      NaN
7                            NaN      NaN
8                            NaN      NaN
9                       15.01.24      NaN
10                      30.09.23      NaN
11                           NaN      NaN
12                      15.11.23      NaN
13                           NaN      NaN
14                           NaN      NaN
15                           NaN      NaN
16                           NaN      NaN
17                      30.11.23      NaN
18                      15.01.24      NaN
19                           NaN      NaN
20                      15.10.23      NaN
21                           NaN      NaN
22                           NaN      NaN
23  15 NOV TO 15 JAN PORTAL OPEN      NaN
24                           NaN      NaN
25                      15.01.24      NaN
26                      15.01.23      NaN
27                      15.11.23      NaN
28                           NaN      NaN
29                      31.12.23      NaN
30                           NaN      NaN
31                           NaN      NaN
32                           NaN      NaN
33                      15.01.24      NaN
34             START FROM NOV 1.      NaN
35                           NaN      NaN
36                           NaN      NaN
37                           NaN      NaN
38                       30-9-23      NaN
39                      15-11-23      NaN
40                       15-1-24      NaN
41                      15-10-23      NaN
42                       15-1-24      NaN
43                       15-1-24      NaN
44                       15-1-24      NaN
45                       15-1-24      NaN
46                       15-1-24      NaN
47                       31-1-24      NaN
48                       15-1-24      NaN
49                       15-1-24      NaN
50                           NaN      NaN

                                               ISSUES  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8   REVISE WITH MUQEET BHAI, MAHEEN BAJI AND ARMAN...
9   LANGUAGE REQ=A2 IN 2ND SEMESTER\n\nDEGREE RELE...
10                                                GRE
11                                                GRE
12                                ASK JUNAID ABOUT IT
13                                               CGPA
14  ECTS OF ECONOMICS AND ADMINISTRATION MODULE, GMAT
15                                                NaN
16                                           CGPA-3.0
17                DEGREE EQUIVALENCY, ASK MAHEEN BAJI
18                                           CGPA 3.0
19                                           CGPA 3.0
20  WATCH  HIGH  INTEGRITY SYSTEMS  ADMISSION  WIT...
21                                     ASSESMENT TETS
22                                                GRE
23                                           CGPA 3.0
24                                                GRE
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                      APTITUDE TEST
37                                      APTITUDE TEST
38                                                NaN
39                                                NaN
40                                      RELATED TO CS
41                                                NaN
42                                                NaN
43                                                NaN
44                                                NaN
45                                                NaN